html, body {
  margin:0;
  padding:0;
}

body {
  background: #fff;
  font-family: Verdana, Arial, "Arial Regular", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight:normal;
  color:#000;
  margin:0;
  padding:20px;
}

h1 {
  font-size:28px;
  font-weight:bold;
  margin: 0 0 20px 0;
  text-align: center;
}
h2 {
  font-size:28px;
  font-weight:bold;
  margin: 0;
  line-height: 150%;
  padding-bottom:10px;
}

p {
  margin:0;
  font-size: 20px;
  line-height: 140%;
}
a {
  outline:none;
}
.clearfloat {
  clear:both;
  height:0;
  overflow:hidden;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#testtextarea {
  visibility: hidden;
}

#selectarea {
  position:absolute;
  background:#fff;
  font-size:20px;
  line-height:110%;
}
#songs a {
  display:block;
  border:solid 1px #e0e0e0;
  padding:4px;
  color:#000;
  text-decoration:none;
}
#songs a:focus {
  background-color:#333;
  color:#fff;
}

.col {
  float: left;
  margin-bottom: 20px;
  max-width:  30%;
  margin-right: 2%;
}

.menu {
  margin-bottom: 20px;
}
.menuitem {
  font-size:15px;
  float: left;
  margin-right: 20px;
}
.menutext {
  font-size:20px;
  color:blue;
  margin: 0;
  line-height: 150%;
  cursor: pointer;
}


#categories {
  border: solid 1px #ccc;
  padding: 10px;
  display: none;
}
#categories > div {
  font-size:15px;
  float: left;
  margin-right: 10px;
}
#search {
  display: none;
}
#search input {
  font-size: 20px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
#search input:focus {
  outline: none;
}


@media (max-width: 400px) {
  .col {
    float: none;
    max-width: 100% !important;
  }
}